html {
    background-color: #000000;
    font-size: 10px; /*pxは「ピクセル」の意味。ベースフォントサイズは10ピクセルの高さになった */
    font-family: "Open Sans", sans-serif; /*これが Google フォントから取得した残りの出力になるはず */
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0 20px 20px 20px;
    border: 5px solid red;
}
h1 {
    margin: 0;
    padding: 20px 0;
    color: red;
    text-shadow: 3px 3px 1px black;
    font-size: 60px;
    text-align: center;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}